/* Variables */

$fontsize: 16px; // Body Font Size // Text Color
$fontweight: 400;
$lineheight: 22px;
$white: #F8FAFF;
$black: #000000;
$grey: #989898;
$primary: #2D3958;
$secondary: #FFC4B2;
$error: #FA3535;
$montserrat: 'Montserrat', sans-serif;
$playfair: 'Playfair Display', serif;
